/* styles.css */
.search-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 999px;
  overflow: hidden;
  width: 500px;
  background-color: #fff;
}

.search-container input {
  border: none;
  padding: 12px 20px;
  flex: 1;
  font-size: 16px;
}

.search-container button {
  background-color: #00c1d4;
  border: none;
  color: white;
  padding: 0 20px;
  cursor: pointer;
  font-size: 16px;
}
